useDynLib(ergmclust)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot")
importFrom("grDevices", "rainbow")
importFrom(igraph, make_empty_graph)
importFrom(igraph, graph.adjacency)
importFrom(igraph, V)
importFrom(igraph, 'V<-')
importFrom(igraph, layout.fruchterman.reingold)
importFrom(viridis, viridis)
import(MASS)
importFrom(lda, mmsb.collapsed.gibbs.sampler)
importFrom(quadprog, solve.QP)
exportPattern("^[[:alpha:]]+")